@font-face {
    font-family: myFont;
    src: url(./font/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: myFont;
    margin: 0;
}

.backgroundColor {
    background-color: #1b1a1a;
}

#pokedex {
    min-height: 50vh;
    background-color: #FA6C6C;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -30px;
    min-height: 100px;
}

#pokemonImage {
    margin-top: -333px;
    width: 416px;
    margin-left: 20%;
}

.pokeNumber {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 480px;
    margin-top: -41px;
}

#pokemonType {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    border-radius: 10px;
    background-color: #ed8d8d;
    padding-right: 16px;
    padding-left: 16px;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grey {
    color: lightgray;
}

.font-bold {
    font-weight: bold;
}

.base-state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paddWidth {
    padding-left: 90px;
    width: 115px;
}

.paddLeft {
    padding-left: 100px;
}

.pokeLogo {
    height: 150px;
    padding-right: 16px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colorWhite {
    color: white;
}

.inport {
    border-color: goldenrod;
    border-radius: 10px;
    margin-bottom: 24px;
    margin-top: 16px;
}